<p id="notice"><%= notice %></p>

<ul>
  <li><%= render :partial => "message_form" %>
  </li>
  <%= form_for @conversation, :url => delete_messages_conversation_path(@conversation), :method => :delete do |f| %>
      <%= f.submit "Delete Selected Messages" %>
      <%= check_box_tag "all", 1, false, :class => "select_all" %>  Delete All
      <% @messages.each do |message| %>
          <li>
            <div>
              <%= check_box_tag "message_ids[]", message.id %>
            </div>
            <strong> <%= message.sender.email %> </strong>

            <div class="message">
              <%= message.body %>
            </div>

            <div class="message-time">
              <%= time_ago_in_words(message.created_at) %> ago
            </div>

          </li>

      <% end %>
      <%= will_paginate @messages %>
  <% end %>
</ul>

<%= link_to "Back", conversations_path %>
<script>
    $('.select_all').on('click', function () {
        if ($(this).is(":checked")) {
            $('input:checkbox').attr("checked", true);
        }
        else {
            $('input:checkbox').attr("checked", false);

        }
    })
</script>