<p id="notice"><%= notice %></p>

<p>
  <strong>New Messages:</strong>
  <%= link_to @user.received_messages.unread.count, conversations_path %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <%= link_to "Message", new_conversation_path(:with => @user.id) unless @user == current_user %>
</p>
  <%= link_to "Inbox", conversations_path if @user == current_user %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
